
@font-face {
	font-family: 'Iosevka-SR21-Web-4h6hU Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSr21Web_4h6hU-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSr21Web_4h6hU-Regular.ttf') format('truetype');
}
