/* Jozsika Font Family */
@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikathin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikaextralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikalight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikaregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikamedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikasemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikaextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jozsika";
  src: url("/fonts/jozsika/jozsikaheavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Iosevka-SR21-Web-4h6hU';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-Regular.woff2') format('woff2'), url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka-SR21-Web-4h6hU';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-Light.woff2') format('woff2'), url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka-SR21-Web-4h6hU';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-ExtraLight.woff2') format('woff2'), url('/fonts/IosevkaSr21Web_4h6hU/IosevkaSr21Web_4h6hU-ExtraLight.ttf') format('truetype');
}